**Importação dos dados**

In [3]:
import pandas as pd
microdados_limpo_csv = pd.read_csv(r'microdados_limpo.csv', sep=';')

**Ver dados**

In [6]:
microdados_limpo_csv

         ano  edicao  cidade_sede  ... altura  peso         esporte
0       1896  Summer       Athina  ...    NaN   NaN      Gymnastics
1       1928  Summer    Amsterdam  ...    NaN   NaN      Gymnastics
2       1924  Winter     Chamonix  ...  155.0  45.0  Figure Skating
3       1932  Winter  Lake Placid  ...  152.0   NaN  Figure Skating
4       1932  Winter  Lake Placid  ...  157.0   NaN  Figure Skating
...      ...     ...          ...  ...    ...   ...             ...
189760  1996  Summer      Atlanta  ...    NaN   NaN        Canoeing
189761  1996  Summer      Atlanta  ...    NaN   NaN    Table Tennis
189762  1998  Winter       Nagano  ...    NaN   NaN       Bobsleigh
189763  2000  Summer       Sydney  ...    NaN   NaN    Table Tennis
189764  2008  Summer      Beijing  ...  145.0  39.0      Gymnastics

[189765 rows x 13 columns]

**Gráfico**

In [4]:
# Import plotly and create a figure
import plotly.graph_objects as go
fig = go.Figure()


# Add the histogram traces to the figure
for column_header in ['idade']:
    fig.add_trace(go.Histogram(x=microdados_limpo_csv[column_header], name=column_header))

# Update the layout
# See Plotly documentation for customizations: https://plotly.com/python/reference/histogram/
fig.update_layout(
	xaxis_title='idade',
    title='idade frequencies',
    barmode='group'
)
fig.show(renderer="iframe")

**Idade dos medalhistas de ouro**

In [14]:
import pandas as pd
microdados_csv = pd.read_csv(r'microdados.csv')
microdados_csv

         ano  edicao  ...                        evento medalha
0       1896  Summer  ...  Athletics Men's 1,500 metres    Gold
1       1896  Summer  ...    Athletics Men's 800 metres    Gold
2       1896  Summer  ...      Athletics Men's Marathon     NaN
3       1896  Summer  ...          Tennis Men's Doubles  Bronze
4       1896  Summer  ...          Tennis Men's Singles     NaN
...      ...     ...  ...                           ...     ...
269713  2016  Summer  ...    Sailing Women's Windsurfer     NaN
269714  2016  Summer  ...  Table Tennis Women's Singles     NaN
269715  2016  Summer  ...     Table Tennis Women's Team     NaN
269716  2016  Summer  ...     Table Tennis Women's Team     NaN
269717  2016  Summer  ...    Athletics Men's 100 metres     NaN

[269718 rows x 15 columns]

**Gráfico**

In [1]:
# Import plotly and create a figure
import plotly.graph_objects as go
fig = go.Figure()


# Add the histogram traces to the figure
for column_header in ['idade']:
    fig.add_trace(go.Histogram(x=microdados_csv[column_header], name=column_header))

# Update the layout
# See Plotly documentation for customizations: https://plotly.com/python/reference/histogram/
fig.update_layout(
	xaxis_title='idade',
    title='idade frequencies',
    barmode='group'
)
fig.show(renderer="iframe")

NameError: ignored

Filtrando por Atletismo

In [6]:
microdados_limpo_csv = microdados_limpo_csv[microdados_limpo_csv['esporte'].str.contains('Athletics', na=False)]
microdados_limpo_csv

         ano  edicao cidade_sede         pais  ... idade altura  peso    esporte
29      1976  Summer    Montreal  Ivory Coast  ...  12.0  169.0  56.0  Athletics
53      1906  Summer      Athina       Turkey  ...  13.0  173.0  71.0  Athletics
268     1972  Summer      Munich     Barbados  ...  14.0    NaN   NaN  Athletics
417     1996  Summer     Atlanta        Niger  ...  14.0    NaN   NaN  Athletics
438     2000  Summer      Sydney         Togo  ...  14.0  157.0  48.0  Athletics
...      ...     ...         ...          ...  ...   ...    ...   ...        ...
189746  1992  Summer   Barcelona       Rwanda  ...   NaN    NaN   NaN  Athletics
189747  1992  Summer   Barcelona        Sudan  ...   NaN  192.0  82.0  Athletics
189749  1992  Summer   Barcelona          USA  ...   NaN    NaN   NaN  Athletics
189757  1996  Summer     Atlanta        Niger  ...   NaN    NaN   NaN  Athletics
189758  1996  Summer     Atlanta        Niger  ...   NaN    NaN   NaN  Athletics

[30553 rows x 13 columns]

**Análise da participação feminina**

In [8]:
unused_columns = microdados_csv.columns.difference(set(['ano']).union(set(['sexo'])).union(set({'id_atleta'})))
tmp_df = microdados_csv.drop(unused_columns, axis=1)
pivot_table = tmp_df.pivot_table(
    index=['ano'],
    columns=['sexo'],
    values=['id_atleta'],
    aggfunc={'id_atleta': ['count']}
)

# Flatten the column headers
pivot_table.columns = [flatten_column_header(col) for col in pivot_table.columns.values]

# Reset the column name and the indexes
df6 = pivot_table.reset_index()

NameError: ignored